
NETCore/NETCore/obj/project.nuget.cache
NETCore/NETCore/obj/project.assets.json
NETCore/NETCore/obj/NETCore.csproj.nuget.g.targets
NETCore/NETCore/obj/NETCore.csproj.nuget.g.props
NETCore/NETCore/obj/NETCore.csproj.nuget.dgspec.json
NETCore/NETCore/obj/Debug/netcoreapp3.1/NETCore.csproj.AssemblyReference.cache
NETCore/NETCore/obj/Debug/netcoreapp3.1/NETCore.assets.cache
NETCore/NETCore/appsettings.json
NETCore/NETCore/appsettings.json
NETCore/NETCore/obj/Debug/netcoreapp3.1/NETCore.assets.cache
NETCore/NETCore/obj/Debug/netcoreapp3.1/NETCore.csproj.AssemblyReference.cache
NETCore/NETCore/obj/NETCore.csproj.nuget.dgspec.json
NETCore/NETCore/obj/NETCore.csproj.nuget.g.props
NETCore/NETCore/obj/NETCore.csproj.nuget.g.targets
NETCore/NETCore/obj/project.assets.json
NETCore/NETCore/obj/project.nuget.cache
NETCore/NETCore/obj/Debug/netcoreapp3.1/NETCore.csproj.AssemblyReference.cache
NETCore/NETCore/obj/Debug/netcoreapp3.1/NETCore.assets.cache
NETCore/NETCore/obj/Debug/netcoreapp3.1/NETCore.assets.cache
